 <main>
        <div class="about-container">
            <h1 class="page-header">FATE CHANGER</h1>
            <div class="about-body">
                <div class="about-left">
                    <img class="about-image" src="http://kaderidegistiren.com/images/faq-img.jpg" alt="">
                    <p>
                        <strong>What is The Fate Changer?</strong><br/>
                        The Fate Changer is a guide that has secrets that will help you to have peace and power and change your fate. The Fate Changer is a journey of self-discovery where you read and consider lessons derived from the lives of the prophets and what they wrote. This guide for your journey was researched in the light of solid psychological principles by experts with a foundation in history and spiritual leadership. The Fate Changer was designed for you to learn answers to the most complicated questions of life concerning death, sin, judgment, forgiveness and fate.
                    </p>
                </div>
                <div class="about-right">
                    <p>
                        <strong>This website was designed for studying alone, for families and for small groups.</strong><br/>
                        If you study alone, read or listen to one chapter each day, think deeply about the subject and answer the discussion questions at the end of each chapter. If you are studying as a family, read or listen to a chapter at least one day a week and find an appropriate time to answer the discussion questions. After dinner is a perfect time. If you are studying as a small group, gather once a week at least for an hour and a half and take turns reading a page, completing two chapters and answering the discussion questions at the end of the chapter.<br/>
                        Along with the discussion questions, in each chapter there is a short quiz. These are to help you understand how well you remember the lessons. By doing the quizzes, you earn points for every correct answer you give. For every 20 points you earn a free book will be sent to you. By logging in you can ask questions to the administrator and books that you earned can be sent to you in paper form.<br/>
                        We highly recommend that you begin to study each chapter with prayer. Open you heart and talk with God as a friend, ask that He would be with you, that He would open your mind to understanding and change your thinking patterns. It would also be good if after answering the discussion questions pray again and thank God and ask that He would help you apply the principles you learned in each chapter to your life.<br/>

                        This series is an important first step in the development of psychological, physical and moral development. For the series to provide the absolute best benefits, it is necessary to read regularly and be determined to finish. Thus we urge you to follow the directions given above.
                        <br/>
                        This Fate Changer series is a key to opening the secrets of your fate, your life and your future. Welcome to the adventure of your life, a life that will last forever.
                    </p>
                </div>
            </div>
        </div>
    </main>