  <main>
        <div class="contact-container">
            <div class="contact-card">
                <div class="contact-banner">
                  <a href="{{CONFIG site_url}}">  <img src="http://kaderidegistiren.com/images/logo.png" alt="Logo"></a>
                </div>
                <div class="contact-inputs">
                    <h3>{{LANG Contact Us}}</h3>
                    <form action="">
                        <input type="text" placeholder="{{LANG Name}}">
                        <input type="text" placeholder="{{LANG Email}}">
                        <input type="text" placeholder="{{LANG Subject}}">
                        <textarea placeholder="{{LANG Enter you message}}..."></textarea>
                        <input type="submit" label="{{LANG Submit}}">
                    </form>
                </div>
            </div>
        </div>
    </main>