<nav>
        <div class="logo-can">
            <a href="{{CONFIG site_url}}"><img src="http://kaderidegistiren.com/images/logo.png" alt="Logo"></a>
        </div>
        <div class="nav-items">
            <a onclick="nav1()" href="{{LINK home}}" data-load="?link1=home"><span class="nav1 nav-item nav-active">{{LANG Home}}</span></ap>
            <a onclick="nav2()" href="{{LINK about}}" data-load="?link1=about"><span class="nav2 nav-item ">{{LANG About}}</span></a>
            <a onclick="nav3()" href="{{LINK lesson}}" data-load="?link1=lesson"><span class="nav3 nav-item ">{{LANG Lessons}}</span></a>
            <a onclick="nav4()" href="{{LINK contact}}" data-load="?link1=contact"> <span class="nav4 nav-item">{{LANG Contact}}</span></a>
            <?php if($_SESSION['lang'] == 'turkish'){ ?>
                  
                <a class="nav-item" href="?lang=english" rel="nofollow"><img class="u-list__link-icon mr-2" src="{{CONFIG theme_url}}/images/flags/english.svg" alt=""></a>
                 <?php } else { ?> 
                 <a class="nav-item" href="?lang=turkish" rel="nofollow"><img class="u-list__link-icon mr-2" src="{{CONFIG theme_url}}/images/flags/turkish.svg" alt=""></a>

 
             <?php } ?>
            <!-- <a onclick="nav5()" href="{{LINK register}}" data-load="?link1=register"><span class="nav5 nav-item">{{LANG Register}}</span></a> -->
            <span class="login-nav" onclick="showProfileDiv()" data-load="?link1=register">
                <div class="photo-div" style="background-image: url('<?php echo (IS_LOGGED)? $kd->user->avatar : 'https://www.happitime.co.uk/images/uploads/profile.jpg' ?>');">
                </div>
                
                <div class="profile-dropdown">
                    <?php if(IS_LOGGED){ ?>
                        <div class="logged-in-div">
                           <a href="{{LINK dashboard}}" data-load="?link1=dashboard"> <span class="nav5 nav-item">{{LANG Dashboard}}</span></a>
                           <a href="{{LINK logout}}" data-load="?link1=logout">  <span class="nav5 nav-item">{{LANG Logout}}</span></a>
                        </div>
                    <?php } else { ?> 
                        <div class="logged-out-div">
                            <a href="{{LINK login}}" data-load="?link1=login"><span class="nav5 nav-item">{{LANG Login}}</span></a> 
                            <a href="{{LINK register}}" data-load="?link1=register"><span class="nav5 nav-item">{{LANG Register}}</span></a> 
                        </div>
                    <?php } ?>
                </div>
                    
            </span>
        </div>
        <div onclick="toggleNav()" class="toggle-nav">
            <i class="fas fa-bars"></i>
        </div>
    </nav>


	
<script>
    $(function() {
   

          let form1 = $('form.login-form');
        form1.ajaxForm({
            url: '{{LINK aj/login}}?hash=' + $('.main_session').val(),
            dataTyep:'json',
            beforeSend: function() {
                form1.find('button').text("{{LANG please_wait}}");
            },
            success: function(data) {
                if (data.status == 200) {
                    if( data.session_id !== '' ){
                        window.location = '{{LINK session_login}}?sid='+data.session_id;
                        return false;
                    }
                    $('.login-alert').html($('<div>',{
                        class: "alert alert-success",
                        html: data.message
                    }));
                    $('.alert-success').fadeIn(300);
                }
                else {
                    $('.login-alert').html($('<div>',{
                        class: "alert alert-danger",
                        html: data.message
                    }));
                    form1.find('button').replaceWith('<button type="submit" class="btn btn-block btn-primary u-btn-primary transition-3d-hover">'+"{{LANG login}}"+'</button>');
                }
            }
        });
    });

    var profileDiv = false
    function showProfileDiv(){
        var width = window.innerWidth;
        if(width <= 750){
            if(!profileDiv){
                document.querySelector(".profile-dropdown").style.display="block";
                profileDiv = true
            }
            else{
                document.querySelector(".profile-dropdown").style.display="none";
                profileDiv = false
            }
        }
    }
</script>