<div class="owl-featured">
		<div class="shop-item-list entry">
			<div class="">
				<img src="{{BOOK_COVER}}" alt="">
				<div class="magnifier"></div>
			</div>
			<div class="shop-item-title clearfix">
				<h4><a href="{{LINK lesson-single/}}{{BOOK_UNIQID}}">{{BOOK_TITLE}}</a></h4>
				<div class="shopmeta">
					<span class="pull-left"></span>
					<div class="rating pull-right">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					</div>
				</div>
			</div>
			<div class="visible-buttons">
				
				<a title="{{LANG Read More}}" href="{{LINK lesson-single/}}{{BOOK_UNIQID}}"><span class="fa fa-search"></span></a>
			</div>
		</div>
	</div>