
 <main>
	<div class="preview-container">
		<div class="book-preview-container">
			<div class="preview-header">
				<div class="preview-header-details">
					<span class="book-title">{{LANG The Fate Changer}}</span>
					<span class="chapter-title">Chapter 3</span>
				</div>
				<div class="audio-and-chapters">
					<span onclick="toggleSideBar()" class="chatpers-icon">
						<i class="fas fa-file-alt"></i>
					</span>
					<span onclick="toggleAudio()" class="play-icons">
						<i class="fas fa-play-circle"></i>
					</span>
				</div>
			</div>
			<div class="preview-body">
				<div class="preview-side-bar">
					<div class="contents-list">
					 {{LESSON_LIST}}
					 </div>
				</div>
				<div class="preview-main-body">
					<div class="the-lesson-body">
						{{LESSON_BODY}}
					</div>
					<div class="to-quiz">
						<Button onclick="toQuiz()">Test your Knowledge</Button>
					</div>
					<form  class="quiz_submit quiz-hider" id="quiz_submit" method="POST">
					   	<div class="quiz-item">
							<span class="quiz-number">{{LANG Question}} <span class="quiz_number_count"> {{QUIZ_NUMBER}} </span> / {{QUIZ_TOTAL}}</span>
							
								<span class="quiz-body">
									<span class="quiz-question"><span class="question">{{QUIZ_QUESTION}}</span></span>
									<span class="quiz-answers">
										<div class="choice">
											{{CHOICES}}
										</div>
										
										<button type="Submit" class="btn-quiz-submit checkd">Submit</button>
										<input type="hidden" name="user_id" value="<?php echo $kd->user->id; ?>">
										<input type="hidden" name="hash_id" value="<?php echo CreateSession(); ?>">
										<input type="hidden" id="nxt_book_n" name="book_number" value="{{BOOK_NUMBER}}">
										<input type="hidden" name="lesson_number" value="{{LESSON_NUMBER}}">
										<input type="hidden" id="nxt_quiz_n" name="quiz_number" value="{{QUIZ_NUMBER}}">
										<input type="hidden" name="lesson_title" value="{{LESSON_TITLE}}">
									</span>
								</span>
							
						</div>
						<div class="question-nav">
							<button class="quiz-btn">Previous</button>
							
							<button class="quiz-btn">Next</button>
						</div>
						<div class="answer-modal">
							<div class="answer-modal-content">
								<div class="modal-content-header">
									<span>Correct</span>
									<i class="fas fa-check"></i>
								</div>
								<div class="modal-content-body">
									Sint nostrud quis magna cillum occaecat irure nisi est commodo dolor laborum.
								</div>
								<div class="modal-content-btn">
									<button onclick="closeModal()">Proceed</button>

								</div>
							</div>
						</div>
					</form>
				</div>
				
			</div>
		</div>
	</div>
</main>
<script type="text/javascript">
	// $(document).ready(function(){
	// 	$("#clear-selection").click(function(){
	// 	$("input:radio").attr("checked", false);
	// 	})
	// });
	const quizHider  = document.querySelector(".quiz-hider")
	const lessonBody = document.querySelector(".the-lesson-body")
	const toQuizBtn     = document.querySelector(".to-quiz")

	function toQuiz(){
		quizHider.style.display = "block"
		lessonBody.style.display = "none"
		toQuizBtn.style.display = "none"
	}
	$(function($) {
			
		  let check_answer = $('form#quiz_submit');

		  check_answer.ajaxForm({
			  url:"{{LINK aj/quiz_process/check}}?hash=" + $('.main_session').val(),
			  type:"POST",
			  beforeSend: function() {
				$('.panel-footer').find('.checkd').text('{{LANG Checking}}');
			  },
			  success: function(data) {
				  if(data.status == 200 ){
					  $('.panel-footer').find('.checkd').text('{{LANG Comfirm}}');
					   // check_answer[0].reset();
					   if(data.icon == true){
					   
						$(".answer-modal").css({display:"flex"});
							 // $('.answer-modal').fadeIn('fast', function() {
						  //       $(this).delay(4000).slideUp(500, function() {
						  //           $(this).remove();
						  //       });
						  //      });
						   
						
					   } else if(data.icon == false){
						   console.log('true');
						 $(".quiz_alert").html('<div class="alert alert-danger">'+ data['message'] +'</div>');
							 $('.alert-danger').fadeIn('fast', function() {
								$(this).delay(4000).slideUp(500, function() {
									$(this).remove();
								});
						   
						});	
					   }
					

					   if(data.mode == 'next_question'){
						  
						  $('.question').html(data.quiz_question);
						  $('.choice').html(data.choices);
						  $('#nxt_book_n').val(data.book_number);
						  $('#nxt_less_n').val(data.lesson_number);
						  $('#nxt_quiz_n').val(data.quiz_number);
						  $('.leadd').html(data.progress);
						  $('.quiz_number_count').html(data.quiz_number);
						  $('.progress-bar').css("width", data.progress +"%");

					  } 
					  if (data.mode == 'completed'){
						  $('.complete').html(data.final);

					  }
				  }

			  } 
		  });
	});
</script>
