<form  class="quiz_submit" id="quiz_submit" method="POST">
	<div class="course-description">
		<small>{{LANG Quiz for}} : <span><a href="course-single.html">{{LESSON_TITLE}}</a></span> </small>
		<small>{{LANG Quiz Status}}: <span>Not Finished</span> </small>
			<h3 class="course-title">{{LANG Quiz}} - {{LANG Question}} {{QUIZ_NUMBER}}</h3>
			<div class="quiz-wrapper">
				<!-- <h4>How to start Photoshop with short keyboard with Mac</h4> -->
				<div class="quiz_alert"></div>
				<h4>{{QUIZ_QUESTION}}</h4>
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
							
								<div class="panel-body">							
									{{CHOICES}}				
								</div>
								<div class="panel-footer">
									<button type="submit" value="submit" class="btn btn-primary checkd">{{LANG Confirm}}</button>
									<a href="#" class="btn btn-default" role="button" name="ClearBut" id="clear-selection">{{LANG Clear}}</a>
									<input type="hidden" name="user_id" value="<?php echo $kd->user->id; ?>">
									<input type="hidden" name="hash_id" value="<?php echo CreateSession(); ?>">
									<input type="hidden" name="book_number" value="{{BOOK_NUMBER}}">
									<input type="hidden" name="lesson_number" value="{{LESSON_NUMBER}}">
									<input type="hidden" name="quiz_number" value="{{QUIZ_NUMBER}}">
									<input type="hidden" name="lesson_title" value="{{LESSON_TITLE}}">
								</div>
							
						</div>
						<hr class="invis">
						<p class="lead">40% Completed</p>
						<div class="progress">
							<div class="progress-bar" role="progressbar" style="width: 40%;">
								<span class="sr-only">Complete 40%</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<a href="#" class="btn btn-default btn-block">Prev Quiz Question</a>
					</div>
					<div class="col-md-6">
						<a href="#" class="btn btn-default btn-block">Next Quiz Question</a>
					</div>
				</div>
			</div>
	</div>
</form>
<script type="text/javascript">
		// $(document).ready(function(){
		// 	$("#clear-selection").click(function(){
		// 	$("input:radio").attr("checked", false);
		// 	})
		// });
		$(function($) {
				
		      let check_answer = $('form#quiz_submit');

		      check_answer.ajaxForm({
		      	url:"{{LINK aj/quiz_process/check}}?hash=" + $('.main_session').val(),
		      	type:"POST",
		      	beforeSend: function() {
		            $('.panel-footer').find('.checkd').text('{{LANG Checking}}');
		      	},
		      	success: function(data) {
		      		if(data.status == 200 ){
		      			 // check_answer[0].reset();
		                

		      			// if(data.mode == 'next_question'){
		      				
			      			$('.sdfa').html(data.html);
			      		//}
		      		}

		      	} 
		      });
		});
</script>

