<section class="completed-quiz">
   <span class="final-header-text">{{Lang You are Done}}!</span>
   <span class="quiz-message">{{LANG Congratulations}}! {{LANG you completed the quiz}}</span>
   <span class="quiz-score">Score: <strong>{{FINAL_POINT}}</strong></span>
   <span class="failed-questions">{{LANG Failed Questions}}</span>
     {{REVIEW_HTML}}
   <div class="bottom-nav-btns">
       <button class="redo-btn">Redo Quiz</button>
       <button class="save-btn">Save Points</button>
       <button class="next-btn">Next Lesson</button>
   </div>
</section>