
   <main>
            <div class="all-lessons">
               <h1>{{BOOK_TITLE}}</h1>
               <div class="open-lesson-container">
                    <div class="switcher-bar">
                        <div onclick="overview()" class="switch-overview navbar-item navbar-item-active">{{LANG Overview}}</div>
                        <div onclick="curriculum()" class="switch-curriculum navbar-item">{{LANG Curriculum}}</div>
                        <div onclick="instructor()" class="switch-instructor navbar-item ">{{LANG Author}}</div>
                    </div>
                    <div class="switch-container">
                        <div class="overview-container switchers">
                            <div class="my-open-lesson-container">
                                <div class="author-image" style="background-image: url('{{BOOK_COVER}}')">
                                </div>
                                <div class="author-about">
                                    <h3>{{BOOK_TITLE}}</h3>
                                  {{BOOK_DESCRIPTION}}
                                </div>
                            </div>
                        </div>
                        <div class="curriculum-container switchers">
                            <div class="my-open-lesson-container">
                                <div class="author-image" style="background-image: url('{{BOOK_COVER}}')">
                                    
                                </div>
                                <div class="author-about">
                                    <h3>{{LANG Contents}}</h3>
                                     {{LESSON_LIST}}
                                   
                                </div>
                            </div>
                        </div>
                        <div class="instructor-container switchers">
                            <div class="my-open-lesson-container">
                                <div class="author-image" style="background-image: url('{{BOOK_COVER}}')">
                                </div>
                                <div class="author-about">
                                    <h3>Pastor Edward Lemiski</h3>
                                    <p>Incididunt do non ipsum sunt pariatur labore anim labore tempor dolor. Excepteur reprehenderit velit Lorem do proident non aliquip minim enim do laborum. Laborum magna culpa velit deserunt.</p>
                                    <p>Incididunt do non ipsum sunt pariatur labore anim labore tempor dolor. Excepteur reprehenderit velit Lorem do proident non aliquip minim enim do laborum. Laborum magna culpa velit deserunt.</p>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
    </main>
     