<script>
    
 function scrollToTop() {
    verticalOffset = typeof (verticalOffset) != 'undefined' ? verticalOffset : 0;
    element = $('html');
    offset = element.offset();
    offsetTop = offset.top;
    $('html, body').animate({
        scrollTop: offsetTop
    }, 300, 'linear');
    
}
function save_Book(book_id,user_id){
    let user_d = user_id
    let bk_id = book_id;
    let hash = '<?php echo CreateMainSession();?>';
    $.post('{{LINK aj/user}}/save_book', {user_id: user_id,hash:hash,book_id:bk_id,user_id :user_d}, function(data, textStatus, xhr) {
        if( data.status == 200 ){                        
            
              $('.take_course').text('{{LANG Lesson Saved}}');
            
        } else{
             $('.take_course').text('{{LANG You Have Already Saved This Job}}');
        }
                
              
             
     });
 }
// tinymce.init({
//     selector: '#jb_resp',
//     setup: function (editor) {
//         editor.on('change', function () {
//             editor.save();
//         });
//     },
//     height: 160,
//     menubar: false,
//     plugins: [
//         'advlist autolink lists link image charmap print preview anchor',
//         'searchreplace visualblocks fullscreen',
//         'media contextmenu paste'
//     ],
//     toolbar: 'bold underline italic | bullist numlist',
// });

// tinymce.init({
//     selector: '#jb_qual',
//     setup: function (editor) {
//         editor.on('change', function () {
//             editor.save();
//         });
//     },
//     height: 160,
//     menubar: false,
//     plugins: [
//         'advlist autolink lists link image charmap print preview anchor',
//         'searchreplace visualblocks fullscreen',
//         'media contextmenu paste'
//     ],
//     toolbar: 'bold underline italic | bullist numlist',
// });

// tinymce.init({
//     selector: '#jb_desc',
//     setup: function (editor) {
//         editor.on('change', function () {
//             editor.save();
//         });
//     },
//     height: 160,
//     menubar: false,
//     plugins: [
//         'advlist autolink lists link image charmap print preview anchor',
//         'searchreplace visualblocks fullscreen',
//         'media contextmenu paste'
//     ],
//     toolbar: 'bold underline italic | bullist numlist | alignleft aligncenter alignright alignjustify | link',
// });
    
</script>