<div class="col-lg-2"></div>
	<div class="col-lg-8">
		<form class="post_book mb-3" method="post" id="post_book">
			<div class="post_book_alert"></div>
			<h3 class="sett_title">{{LANG Add A Book}}</h3>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
					<!-- 	<p class="job_crt_title">{{LANG Book Langßuage}}</p> -->
						<select name="language" class="form-control job_input">
							<option value="" disabled selected>{{LANG Select Book Language}}</option>
							<option value="turkish">{{LANG Turkish}}</option>
							<option value="english">{{LANG English}}</option>		 
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<!-- <p class="job_crt_title">{{LANG Book Number}}</p> -->
						 <select name="book_number" class="form-control job_input"  id="categorySelect" size="1">
							<option value="" disabled selected>{{LANG Select Book Number}}</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						 </select>
					</div>
				</div>
				
			</div>
			<div class="book-cover">
					
					<button type="button" class="btn btn-main">{{LANG Choose Book Cover}}</button>
					<input type="file"  accept="image/*"  name="book_cover" id="resume" class="d-none">
				</div>

			<div class="form-group">
				<!-- <p class="job_crt_title">{{LANG Book Title}}</p> -->
				<input name="book_title" class="form-control job_input" type="text" placeholder="{{LANG Book Title}}" autofocus="">
			</div>
			<div class="form-group">
				<!-- <p class="job_crt_title">{{LANG Book Description}}</p> -->
				<textarea id="jb_desc" name="book_description" class="form-control job_input" placeholder="{{LANG Book Description}}"></textarea>
			</div>
			<div class="form-group text-center">
				<input type="hidden" name="hash_id" value="<?php echo CreateSession()?>">
	        	<input type="hidden" name="user_id" value="<?php echo $kd->user->id?>">
				<button type="submit" class="btn btn-main sett_btn">{{LANG Add Book}}</button>
			</div>
		</form>
	</div>
	<div class="col-lg-2"></div>