<div class="header">
    <span>Achievements</span>
    <i onclick="toggleMenu()" class="fas fa-th"></i>
</div>
<div class="main-area">
    <div class="achievements-container">
        <div class="achievement-card">
            <img src="https://images-na.ssl-images-amazon.com/images/I/4184nfMjIOL._SX348_BO1,204,203,200_.jpg" alt="">
            <div class="card-footer">
                <span class="card-title">Fate Changer</span>
                <span class="card-options">Score: <span class="card-target">8/10</span></span>
                <span class="card-options">Earned: <span class="card-target">+200pts</span></span>
            </div>
        </div>
        <div class="achievement-card">
            <img src="https://images-na.ssl-images-amazon.com/images/I/4184nfMjIOL._SX348_BO1,204,203,200_.jpg" alt="">
            <div class="card-footer">
                <span class="card-title">Fate Changer</span>
                <span class="card-options">Score: <span class="card-target">8/10</span></span>
                <span class="card-options">Earned: <span class="card-target">+200pts</span></span>
            </div>
        </div>
        <div class="achievement-card">
            <img src="https://images-na.ssl-images-amazon.com/images/I/4184nfMjIOL._SX348_BO1,204,203,200_.jpg" alt="">
            <div class="card-footer">
                <span class="card-title">Fate Changer</span>
                <span class="card-options">Score: <span class="card-target">8/10</span></span>
                <span class="card-options">Earned: <span class="card-target">+200pts</span></span>
            </div>
        </div>
        <div class="achievement-card">
            <img src="https://images-na.ssl-images-amazon.com/images/I/4184nfMjIOL._SX348_BO1,204,203,200_.jpg" alt="">
            <div class="card-footer">
                <span class="card-title">Fate Changer</span>
                <span class="card-options">Score: <span class="card-target">8/10</span></span>
                <span class="card-options">Earned: <span class="card-target">+200pts</span></span>
            </div>
        </div>
    </div>
</div>