<div class="header">
	<span>{{LANG Book}}</span>
	<i onclick="toggleMenu()" class="fas fa-th"></i>
</div>
<div class="main-area">
	

	<div class="table-container">
		

	<table class="kd-table">
		<caption>{{LANG The Fate Changer}}</caption>
		<tr class="table-header">
			<th>#</th>
			<th>{{LANG Lesson}}</th>
			<th>{{LANG Quiz}}</th>
			<th>{{LANG Progress}}</th>
			<th>{{LANG Earned}}</th>
			<th>{{LANG View Quiz}}</th>
		</tr>
		{{USER_BOOK_LESSONS}}
	</table>





	</div>
		
		
		
		
	</div>
</div>