<div class="header">
    <span>Bookstore</span>
    <i onclick="toggleMenu()" class="fas fa-th"></i>
</div>
<div class="main-area">
    <div class="bookstore-container">
        <div id="overviewBook" class="book-overview">
            <div class="book-overview-modal">
                <div class="overview-header">
                    <span>Overview</span>
                    <i  onclick="redeemBtn()" class="fas fa-times"></i>
                </div>
                <div class="overview-body">
                    Magna adipisicing non est id fugiat dolore aute excepteur. Labore ad dolor pariatur cupidatat duis. Veniam esse ullamco non minim nulla velit duis dolore pariatur. Esse occaecat consectetur ut officia sunt anim in et ex amet eiusmod irure est. Laborum deserunt aliqua reprehenderit dolor nisi dolor ea laboris. Qui duis in adipisicing fugiat non eu eiusmod sint.
                    Commodo voluptate eiusmod nostrud in cillum incididunt. Adipisicing esse in non eiusmod deserunt aliquip et consequat consequat. Dolore irure nisi ullamco velit id eiusmod laboris ea minim id enim officia elit amet. Magna dolore laboris fugiat nostrud eiusmod magna consequat non sunt dolore Lorem commodo. Ad veniam ex exercitation eu nulla qui deserunt velit irure culpa. Labore aliquip velit magna id tempor ullamco in elit fugiat elit ea.
                </div>
            </div>
        </div>
        <div id="buyBook" class="book-overview">
            <div class="book-overview-modal">
                <div class="overview-header">
                    <span>Buy or Redeem</span>
                    <i onclick="buyBtn()" class="fas fa-times"></i>
                </div>
                <div class="overview-body">
                    <div class="get-book-card">
                        <span>₺39.99</span>
                        <button >Buy with Cash</button>
                    </div>
                    <div class="get-book-card">
                        <span>120 points</span>
                        <button >Redeem with Points</button>
                    </div>
                </div>
            </div>
        </div>
        {{BOOKSTORE_LIST}}
        
    </div>
</div>