<div class="header">
	<span>Completed Quiz</span>
	<i onclick="toggleMenu()" class="fas fa-th"></i>
</div>
<div class="main-area">
	<div class="completed-quiz-container">
		<div class="quiz-card-items">
			<span>
				<img src="https://images-na.ssl-images-amazon.com/images/I/4184nfMjIOL._SX348_BO1,204,203,200_.jpg" alt="">
				<div class="quiz-card-footer">
					<span class="quiz-card-title">Fate Changer</span>
					<span class="quiz-card-options">Progress: <span class="card-target-undone">5/10</span></span>
					<span class="quiz-card-options">Status: <span class="card-target-undone">Pending</span></span>
				</div>
			</span>
		</div>
		<div class="quiz-card-items">
			<span>
				<img src="https://images-na.ssl-images-amazon.com/images/I/4184nfMjIOL._SX348_BO1,204,203,200_.jpg" alt="">
				<div class="quiz-card-footer">
					<span class="quiz-card-title">Fate Changer</span>
					<span class="quiz-card-options">Progress: <span class="card-target">10/10</span></span>
					<span class="quiz-card-options">Status: <span class="card-target">Completed</span></span>
				</div>
			</span>
		</div>
		<div class="quiz-card-items">
			<span>
				<img src="https://images-na.ssl-images-amazon.com/images/I/4184nfMjIOL._SX348_BO1,204,203,200_.jpg" alt="">
				<div class="quiz-card-footer">
					<span class="quiz-card-title">Fate Changer</span>
					<span class="quiz-card-options">Progress: <span class="card-target">10/10</span></span>
					<span class="quiz-card-options">Status: <span class="card-target">Completed</span></span>
				</div>
			</span>
		</div>
		<div class="quiz-card-items">
			<span>
				<img src="https://images-na.ssl-images-amazon.com/images/I/4184nfMjIOL._SX348_BO1,204,203,200_.jpg" alt="">
				<div class="quiz-card-footer">
					<span class="quiz-card-title">Fate Changer</span>
					<span class="quiz-card-options">Progress: <span class="card-target">10/10</span></span>
					<span class="quiz-card-options">Status: <span class="card-target">Completed</span></span>
				</div>
			</span>
		</div>
		<div class="quiz-card-items">
			<span>
				<img src="https://images-na.ssl-images-amazon.com/images/I/4184nfMjIOL._SX348_BO1,204,203,200_.jpg" alt="">
				<div class="quiz-card-footer">
					<span class="quiz-card-title">Fate Changer</span>
					<span class="quiz-card-options">Progress: <span class="card-target-undone">5/10</span></span>
					<span class="quiz-card-options">Status: <span class="card-target-undone">Pending</span></span>
				</div>
			</span>
		</div>
		<div class="quiz-card-items">
			<span>
				<img src="https://images-na.ssl-images-amazon.com/images/I/4184nfMjIOL._SX348_BO1,204,203,200_.jpg" alt="">
				<div class="quiz-card-footer">
					<span class="quiz-card-title">Fate Changer</span>
					<span class="quiz-card-options">Progress: <span class="card-target">10/10</span></span>
					<span class="quiz-card-options">Status: <span class="card-target">Completed</span></span>
				</div>
			</span>
		</div>
		<div class="quiz-card-items">
			<span>
				<img src="https://images-na.ssl-images-amazon.com/images/I/4184nfMjIOL._SX348_BO1,204,203,200_.jpg" alt="">
				<div class="quiz-card-footer">
					<span class="quiz-card-title">Fate Changer</span>
					<span class="quiz-card-options">Progress: <span class="card-target">10/10</span></span>
					<span class="quiz-card-options">Status: <span class="card-target">Completed</span></span>
				</div>
			</span>
		</div>
		<div class="quiz-card-items">
			<span>
				<img src="https://images-na.ssl-images-amazon.com/images/I/4184nfMjIOL._SX348_BO1,204,203,200_.jpg" alt="">
				<div class="quiz-card-footer">
					<span class="quiz-card-title">Fate Changer</span>
					<span class="quiz-card-options">Progress: <span class="card-target-undone">5/10</span></span>
					<span class="quiz-card-options">Status: <span class="card-target-undone">Pending</span></span>
				</div>
			</span>
		</div>
		
	</div>
</div>