<div class="course-description">
	<div class="col-md-6">
		<div class="content-widget">
			<div class="widget-title">
			<h4>Progress Bar</h4>
			<hr>
			</div>
			<div class="teacher-skills">
			<p>WordPress - 90%</p>
			<div class="progress">
			<div class="progress-bar" role="progressbar" style="width: 90%;">
			<span class="sr-only">WordPress 90%</span>
			</div>
			</div>
			<p>HTML CSS - 95%</p>
			<div class="progress">
			<div class="progress-bar" role="progressbar" style="width: 95%;">
			<span class="sr-only">HTML CSS 95%</span>
			</div>
			</div>
			<p>Photoshop - 70%</p>
			<div class="progress">
			<div class="progress-bar" role="progressbar" style="width: 70%;">
			<span class="sr-only">Photoshop 70%</span>
			</div>
			</div>
			<p>UI Design - 100%</p>
			<div class="progress">
			<div class="progress-bar" role="progressbar" style="width: 100%;">
			<span class="sr-only">UI Design 100%</span>
			</div>
			</div>
			</div>
		</div>
	</div>
</div>