<div class="header">
	<span>Bookstore</span>
	<i onclick="toggleMenu()" class="fas fa-th"></i>
</div>
<div class="main-area">
	<div class="dash-container">
		<div class="dash-item">
			<span>
				<div class="dash-left">
					<i class="fas fa-poll"></i>
					<p>Points</p>
				</div>
				<div class="dash-right">
					23
				</div>
			</span>
		</div>
		<div class="dash-item">
			<span>
				<div class="dash-left">
					<i class="fas fa-file-invoice"></i>
					<p>Lessons</p>
				</div>
				<div class="dash-right">
					23
				</div>
			</span>
		</div>
		<div class="dash-item">
			<span>
				<div class="dash-left">
					<i class="fas fa-file-signature"></i>
					<p>Quizzes</p>
				</div>
				<div class="dash-right">
					23
				</div>
			</span>
		</div>
		<div class="dash-item">
			<span>
				<div class="dash-left">
					<i class="fas fa-book"></i>
					<p>Books</p>
				</div>
				<div class="dash-right">
					23
				</div>
			</span>
		</div>
		<div class="dash-item">
			<span>
				<div class="dash-left">
					<i class="fas fa-comments"></i>
					<p>Messages</p>
				</div>
				<div class="dash-right">
					23
				</div>
			</span>
		</div>
		
		
		
		
	</div>
</div>