<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="shop-item-list entry">
			 <div class="">
				  <img src="{{BOOK_COVER}}" alt="">
				<div class="magnifier">
				</div>
			</div>
			<div class="shop-item-title clearfix">
				<h4><a href="{{LINK lesson-single/}}{{BOOK_UNIQID}}">{{BOOK_TITLE}}</a></h4>
				<div class="shopmeta">
					<span class="pull-left"></span>
					<div class="rating pull-right">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
				</div>
			</div>
			<div class="visible-buttons">
				<a title="Add to Cart" href="page-shop-cart.html"><span class="fa fa-cart-arrow-down"></span></a>
				<a title="Read More" href="course-single.html"><span class="fa fa-search"></span></a>
			</div>
		</div>
	</div>
	
</div>