<div class="header">
    <span>Messages</span>
    <i onclick="toggleMenu()" class="fas fa-th"></i>
</div>
<div class="main-area">
    <div class="messages-container">
        <div class="chat-box">
            <div class="chat-bubble left-bubble">
                <span>Officia velit esse laborum labore laborum duis qui.</span>
            </div>
            <div class="chat-bubble right-bubble">
                <span>Qui consequat do culpa mollit id culpa cupidatat ea proident aute incididunt.</span>
            </div>
            <div class="chat-bubble left-bubble">
                <span>Culpa anim eiusmod duis mollit fugiat fugiat amet nulla officia nulla.</span>
            </div>
            <div class="chat-bubble right-bubble">
                <span>Esse laboris nisi pariatur exercitation nostrud consequat esse ad mollit sit et et enim est.</span>
            </div>
            <div class="chat-bubble right-bubble">
                <span>Qui consequat do culpa mollit id culpa cupidatat ea proident aute incididunt.</span>
            </div>
        </div>
        <div class="reply-box">
            <form method="POST" id="new-message-form" enctype="multipart/form-data">
                <textarea name="new-message" id="new-message" ></textarea>
                <button>
                    {{LANG Send}}
                </button>
            </form>
        </div>
    </div>
</div>