<main>
    <div class="home-main">
        <div class="home-text">
            <p>{{LANG Do you want to change your fate}} ?</p>
            <button>{{LANG Yes}}</button>
        </div>
    </div>
</main>
<script>

    const backgroundImages = [
            "https://new.kaderidegistiren.com/themes/default/images/homepage-img3.jpg",
            "https://new.kaderidegistiren.com/themes/default/images/homepage-img2.jpg",
            "https://new.kaderidegistiren.com/themes/default/images/homepage-img4.jpg",
            "https://new.kaderidegistiren.com/themes/default/images/homepage-img.jpg",
     ]
    var num = 0
    
    setInterval(function(){
        document.querySelector(".home-main").style.background = `url(${backgroundImages[num]})`
        num++;
        if(num>=backgroundImages.length){
            num = 0
        }
    
    }, 6000);
</script>